.brand-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    user-select: none;
}
.brand-modal form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: var(--bg-main);
    width: 100%;
    max-width: 450px;
    border-radius: 6px;
    padding: 60px 15px;
    gap: 20px;
}
.brand-modal form h5 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
.brand-modal form input {
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid var(--text-color-01);
    padding: 8px;
    border-radius: 4px;
}
.brand-modal form button.submit {
    margin-top: 20px;
    height: 50px;
    width: 150px;
}
.brand-modal form .close-modal {
    position: absolute;
    top: 10px;
    right: 20px;
}
