.shop-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  user-select: none;
}

.shop-modal form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: var(--bg-main);
  width: 100%;
  max-width: 450px;
  border-radius: 6px;
  padding: 30px 15px;
  gap: 10px;
}

.shop-modal form h5 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.shop-modal form img {
  border-color: rgb(25, 189, 25) !important;
  border-radius: 6px;
}

.shop-modal form input {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid var(--text-color-01);
  padding: 8px;
  border-radius: 4px;
}

.shop-modal form div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.shop-modal form div h6 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
}

.shop-modal form button.submit {
  margin-top: 20px;
  height: 50px;
  width: 150px;
}

.shop-modal form .close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
}