@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

:root {
    --bg-main: #ffffff;
    --text-color-01: #000000;
    --text-color-02: #8a92a6;
    --text-color-03: #3a57e8;
    --text-color-04: #fff;
}

* {
    font-family: "Inter", sans-serif !important;
}
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
